<%= form_with(model: [:user, task]) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex justify-center">
    <% if action_name == "new" %>
      <h1 class="text-center text-lg font-semibold pb-3 drop-shadow-2xl">
        New Task
      </h1>
    <% elsif action_name == "edit" %>
      <h1 class="text-center text-lg font-semibold pb-3 drop-shadow-2xl">
        Edit Task
      </h1>
    <% end %>
  </div>
  <%# date %>
  <div data-controller="task-date" class="flex justify-center gap-3">
    <%= button_tag "Today", type: "button", id: "today-btn", data: { action: "click->task-date#setToday" }, class: "task-date-button border-solid border border-white text-sm text-white py-px px-4 rounded-full hover:border-black" %>
    <%= button_tag "Tomorrow", type: "button", id: "tomorrow-btn", data: { action: "click->task-date#setTomorrow" }, class: "task-date-button border-solid border border-white text-sm text-white py-px px-4 rounded-full hover:border-black" %>
    <div class="inline-block relative w-5 h-5">
      <span class="absolute left-0 top-0 w-full h-full">
        <%= icon("fa-solid", "calendar-days", class: "text-white text-lg") %>
      </span>
      <%= form.date_field :taskDueDate, id: 'calendar-btn', data: { action: "click->task-date#pickDate" }, class: "datepicker-input absolute left-0 top-0 w-full h-full opacity-0 cursor-pointer box-border" %>
    </div>
  </div>
  <%# content %>
  <div class="flex gap-11 items-start">
    <%# left %>
    <div>
      <%# projects %>
      <div>
        <%= form.label :project_id, "Project", class: "my-5 font-normal text-sm text-white" %>
        <div  class="flex items-center gap-3">
          <% Project.first(2).each do |project| %>
            <%= form.radio_button(:project_id, project.id, id: "project_#{project.id}", class: "hidden") %>
            <label for="<%= "project_#{project.id}" %>" class="border-solid border border-white text-sm text-white p-4 rounded-2xl cursor-pointer hover:border-black">
              <%= project.title %>
            </label>
          <% end %>
          <%= icon("fa-solid", "circle-plus", class: "text-white text-xl cursor-pointer") %>
        </div>
      </div>
      <%# categories %>
      <div>
        <%= form.label :category_ids, "Categories", class: "my-5 font-normal text-sm text-white"  %>
        <div class="flex items-center gap-3">
          <% Category.order(:name).first(2).each do |category| %>
            <%= form.check_box :category_ids, { multiple: true, id: "category_#{category.id}", class: "hidden" }, category.id, nil %>
            <label for="<%= "category_#{category.id}" %>" class="border-solid border border-white text-sm text-white p-4 rounded-2xl cursor-pointer hover:border-black">
              <%= category.name %>
            </label>
          <% end %>
          <%= icon("fa-solid", "circle-plus", class: "text-white text-xl cursor-pointer") %>
        </div>
      </div>
    </div>
    <%# right %>
    <div>
      <%# title %>
      <div>
        <%= form.label :title, class: "font-normal text-sm text-white" %>
        <%= form.text_field :title, placeholder: "e.g. coding", class: "text-sm block shadow border border-gray-200 outline-none px-3 py-2 w-full rounded-2xl" %>
      </div>
      <%# description %>
      <div>
        <%= form.label :description, class: "font-normal text-sm text-white" %>
        <%= form.text_area :description, rows: 2, placeholder: "e.g. start coding", class: "text-sm block shadow rounded-2xl border border-gray-200 outline-none px-3 py-2 w-full" %>
      </div>
      <%# priority %>
      <%= form.label :priority, "Priority", class: "font-normal text-sm text-white" %><br>
      <div class="flex items-center gap-2">
        <%= form.radio_button(:priority, "low", id: "priority_low", class: "hidden") %>
        <%= label_tag(:priority_low, "low", class: "border-solid border border-white text-sm text-white py-px px-4 rounded-2xl cursor-pointer hover:border-black") %>
        <%= form.radio_button(:priority, "medium", id: "priority_medium", class: "hidden") %>
        <%= label_tag(:priority_medium, "medium", class: "border-solid border border-white text-sm text-white py-px px-4 rounded-2xl cursor-pointer hover:border-black") %>
        <%= form.radio_button(:priority, "high", id: "priority_high", class: "hidden") %>
        <%= label_tag(:priority_high, "high", class: "border-solid border border-white text-sm text-white py-px px-4 rounded-2xl cursor-pointer hover:border-black") %>
      </div>
    </div>
  </div>
  <%# isCompleted %>
  <div class="my-5 hidden">
    <%= form.label :isCompleted, "Completed" %>
    <%= form.check_box :isCompleted, class: "block mt-2 h-5 w-5" %>
  </div>
  <%# submit %>
  <div class="flex justify-center">
    <%= form.submit class: "rounded-full py-2 px-5 bg-black text-white text-sm font-semibold cursor-pointer" %>
  </div>
<% end %>
<%# TODO %>
<%# when unchecking all inboxes for category, it does not save when all checkbox are unchecked %>
<%# Redirect to login page when user is not logged in %>
<%# NOTE: %>