<%= form_with(model: task, class: "contents") do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# title %>
  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <%# description %>
  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <%# date %>
  <div class="my-5">
    <%= form.label :taskDueDate, "Task Due Date" %>
    <%= form.date_field :taskDueDate, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <%# isCompleted %>
  <div class="my-5">
    <%= form.label :isCompleted, "Completed" %>
    <%= form.check_box :isCompleted, class: "block mt-2 h-5 w-5" %>
  </div>
  <%# project selection %>
  <div class="my-5">
    <%= form.label :project_id, "Project" %>
    <%= form.collection_select :project_id, Project.order(:title), :id, :title, id: "project", class: "block mt-2 h-5 w-5" %>
  </div>
  <%# category selection %>
  <div class="my-5">
    <%= form.label :category_ids, "Categories" %><br>
    <% Category.order(:name).each do |category| %>
      <%= form.check_box :category_ids, { multiple: true }, category.id, nil %>
      <%= category.name %><br>
    <% end %>
  </div>
  <%# priority %>
  <div class="my-5">
    <%= form.label :priority, "Priority" %><br>
    <%= form.radio_button(:priority, "low") %>
    <%= label_tag(:priority_low, "low") %>
    <%= form.radio_button(:priority, "medium") %>
    <%= label_tag(:priority_medium, "medium") %>
    <%= form.radio_button(:priority, "high") %>
    <%= label_tag(:priority_high, "high") %>
  </div>
  <%# submit %>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
<%# TODO %>
<%# when unchecking all inboxes for category, it does not save when all checkbox are unchecked %>
<%# check_box_tag 'task[category_ids][]', category.id, @task.categories.include?(category) %>