<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-[#7E7E7E]">
    <div class="relative w-screen h-screen flex justify-center">
      <main class="bg-zinc-50 w-2/3 h-96 absolute top-1/2 transform -translate-y-1/2 rounded-2xl drop-shadow-xl">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
<%# container mx-auto mt-28 px-5 flex %>
